In [1]:
#

In [2]:
import pandas as pd

# Initialize the paramaters of the loan
loan_amount = 1000000
apr = 0.4
loan_term = 361

# Get a monthly percentage rate
apr /= 100
mpr = apr / 12

# Calculate the Monthly Payment for a loan
monthly_payment = (loan_amount * mpr)/(1-(1+mpr) ** -loan_term)
# x = (1 + mpr) ** loan_term
# monthly_payment=loan_amount * (mpr * x) / (x - 1)

def make_payment(principal, mpr, monthly_payment):
    '''Makes a 'payment' by subtracting and updated payment amount from the 
    principal. Returns the principal remaining, and the amount of principal and interest paid
    '''

    current_interest_payment = principal * mpr
    current_principal_payment = monthly_payment - current_interest_payment
    
    principal -= current_principal_payment
    
    return [round(principal, 2), round(current_principal_payment, 2), round(current_interest_payment, 2)] 

def main(principal, term_remaining, monthly_payment, mpr):
    '''Returns an Amortization Table in the form of a DataFrame
    '''
    
    payments = [[principal, 0, 0, 0]]
    total_interest = 0
    
    while principal > 0 and term_remaining > 0:
        payment = make_payment(principal, mpr, monthly_payment)
        principal = payment[0]
        term_remaining -= 1
        total_interest += payment[2]
        payment.append(total_interest)
        payments.append(payment)

    amortization_table = pd.DataFrame(data=payments,
                                      columns=['Principal Remaining',
                                              'Current Principal Payment',
                                              'Current Interest Payment',
                                              'Total Interest Paid'])
    return amortization_table

if __name__ == '__main__':
    main(loan_amount, loan_term, monthly_payment, mpr)

In [3]:
print(make_payment(loan_amount,mpr,monthly_payment))

[997392.78, 2607.22, 333.33]

In [4]:
amortization_table=main(loan_amount,loan_term,monthly_payment,mpr)

In [5]:
amortization_table.head()

,Principal Remaining,Current Principal Payment,Current Interest Payment,Total Interest Paid
0,1000000.00,0.00,0.00,0.00
1,997392.78,2607.22,333.33,333.33
2,994784.69,2608.09,332.46,665.79
3,992175.73,2608.96,331.59,997.38
4,989565.90,2609.83,330.73,1328.11

In [6]:
amortization_table.tail()

,Principal Remaining,Current Principal Payment,Current Interest Payment,Total Interest Paid
357,11752.35,2935.66,4.90,61529.65
358,8815.71,2936.64,3.92,61533.57
359,5878.10,2937.61,2.94,61536.51
360,2939.51,2938.59,1.96,61538.47
361,-0.06,2939.57,0.98,61539.45